@{ ViewData["Title"] = "Success";}
<div class="container  mt-3">
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="alert alert-success text-center">Your ad has been successfully submitted!</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <h5>Your listing will be advertised in the next available and appropriate publication for its location.</h5><h5> If you have any questions or requests for a specific publication or date, please contact Allison Maxeiner in Advertising at amaxeiner@bhhsall.com, and we will accommodate you to the best of our ability.</h5>
        </div>
    </div>
</div>