<div class="row justify-content-center mt-3">
    <div class="col-5">
        <h2 class="alert alert-success text-center">Your ad has been successfully submitted!</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-5">
        <h6>Your listing will be advertised in the next available and appropriate publication for its location. If you have any questions or requests for a specific publication or date, please contact Allison Maxeiner in Advertising at amaxeiner@bhhsall.com, and we will accommodate you to the best of our ability.</h6>
    </div>
</div>
