@{ ViewData["Title"] = "Home";}

<div class="container">
    <h2 class="mt-3">Agent Tools</h2>
    <div class="row">
        <!--Alert-->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="alert alert-danger" role="alert">
                    <i class="fas fa-broadcast-tower mr-3"></i>All CE classes for agents must be finished by September 30, 2018!
                </div>
            </div>
        </div>
        <!--Tiles-->
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <a asp-controller="AdSubmission" asp-action="AdSubmission"><img class="card-img" src="~/Images/Newspaper Ad Submission.png" /></a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <a asp-controller="CEClass" asp-action="Classes"><img class="card-img" src="~/Images/CE Sign Up.png" /></a>
                </div>
            </div>
        </div>
    </div>

</div>

