@{ }
<div class="container">

<h1>BHHS Alliance Home Page</h1>

    <h1>@{
        if (User.IsInRole("Admin"))
        { <h1>Hello</h1>}
            ;}</h1>

    <a asp-controller="Home" asp-action="SendAnEmail">Send the email</a>

</div>
