@{ ViewData["Title"] = "Success";}
<div class="container  mt-3">
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="alert alert-success text-center">Your open house has been successfully submitted!</h2>
        </div>
    </div>
</div>