@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <!-- inside <head> -->
    <link rel="stylesheet" href="~/vendor.min.css" />
    <link rel="stylesheet" href="~/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BHHS Alliance Intranet</a>

        @if (User.Identity.IsAuthenticated)
        {
            AppUser user = await UserManager.GetUserAsync(User); string firstName = user.FirstName; var id = await UserManager.GetUserIdAsync(user);

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agent Tools</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-controller="Home" asp-action="AdSubmission" class="dropdown-item">Submit an Ad</a>
                            <a asp-controller="Home" asp-action="ads" asp-route-id="@id" class="dropdown-item">View Ads Submitted</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Classes">Register for CE Classes</a>
                        </div>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Tools</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Register">Register New Agent</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Agents">Agents</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="AddClass">Add Class</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Classes">View Classes</a>
                            </div>
                        </li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        }

    </nav>
    @RenderBody()

    <!-- at the end of <body> -->
    @RenderSection("Scripts", required: false)
    <script src="~/vendor.min.js"></script>
</body>
</html>