<div class="container mt-3">
    <h4>This email doesn't appear to be in our database...</h4>
    <p>
        It is possible that this is happening because of one of the following reasons:
        <ul>
            <li>You mistyped your email address</li>
            <li>You are not using your @@bhhsall.com email</li>
            <li>You do not have an account. Email help@bhhsall.com to get an account created</li>
        </ul>
    </p>
</div>